section {
  padding: 48px 0;
  background: radial-gradient(329.58% 50% at 50% 50%, rgb(59, 40, 100) 0%, rgb(25, 19, 38) 100%);

  div {
    padding: 48px 24px;

    img {
      width: 182px;
      z-index: 1;
      left: -90px;
    }
  }
}
