<div class="position-relative d-flex">
    <div id="wrapper" class="">
        <app-page-header [pageTitle]="'Farms'" [subTitle]="'Stake LP tokens to earn.'" [search]="false">
        </app-page-header>
    </div>
</div>

<div class="container wrapper">
    <app-controls [isFarms]="true" (sorted)="sortBy = $event" (finished)="finished = $event" (stakedOnly)="stakedOnly = $event"
    (CardView)="CardView = $event"></app-controls>
    <div class="row justify-content-center">
        <div class="farms-table w-100">
                <app-table-row></app-table-row>
        </div>
    </div>
</div>