<section class="wrapper-start-in-seconds">
  <div class="start-in-seconds-container">
    <div class="text-content">
      <h2 id="testo1">Start in seconds</h2>
      <p id="testo2">Connect your crypto wallet to start using the app in seconds.</p>
      <b id="testo3">No registration needed.</b>
      <a class="how-to-start" href="https://docs.pancakeswap.finance/%22%3E">Learn how to start</a>
      <app-btn-standard-big [content]="'Connect Wallet'" (click)="changeSettingScreenLauncherStatus('connect')">
      </app-btn-standard-big>
    </div>
    <img class="panckakes" src="../../../../../assets/img/1-bottom@2x.webp" alt="panckake">
    <img class="panckakes" src="../../../../../assets/img/1-left@2x.webp" alt="ou">
    <img class="panckakes" src="../../../../../assets/img/1-top@2x.webp" alt="">
    <div class="reverse">
      <img class="panckakes2" src="../../../../../assets/img/1-bottom@2x.webp" alt="panckake">
      <img class="panckakes2" src="../../../../../assets/img/1-left@2x.webp" alt="ou">
      <img class="panckakes2" src="../../../../../assets/img/1-top@2x.webp" alt="">
    </div>
  </div>
</section>
