section {
  padding: 250px 24px 110px 24px;
  background: var(--background-24);

  #box {
    padding: 24px;
    background-color: var(--background-14);
    border-radius: 24px;
    width: 378px;

    #bunny-container {
      top: -120px;
      left: 0;

      .bunny-side {
        width: 62px;
        height: 62px;
      }

      #bunny {
        width: 92px;
        height: 92px;
        filter: var(--filter-5);
      }
    }

    app-ribbon {
      width: 330px;
      top: -40px;
      left: 24px;
    }

    h4 {
      color: var(--color-2);
      font-size: 24px;
      font-weight: 600;
      line-height: 1.1;
      text-align: center;
    }

    p {
      color: var(--color-3);
      font-weight: 400;
      line-height: 1.5;
      margin-top: 4px;
      text-align: center;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
}
