<aside id="footer-mobile-aside"
  class="position-fixed bottom-0 d-flex d-sm-none justify-content-around align-items-center vw-100"
  (click)="closeSearchModal()">
  <a routerLink="/trade" routerLinkActive="active" class="d-flex flex-column justify-content-center align-items-center">
    <img src="../../../assets/svg/mobile-footer-trade.svg" id="mobile-footer-trade">
    <span>Trade</span>
  </a>
  <div class="footer-mobile-aside-icons d-flex flex-column justify-content-center align-items-center"
    (mouseover)="showEarnMenu = true" (mouseout)="showEarnMenu = false">
    <img src="../../../assets/svg/mobile-footer-earn.svg" class="mobile-footer-icons">
    <span>Earn</span>
    <div
      class="d-none toogle-menu toogle-menu-bottom position-absolute start-0 flex-column align-items-start justify-content-start"
      [class.open-menu]="showEarnMenu">
      <a routerLink="/earn/farms" routerLinkActive="active">Farms</a>
      <a routerLink="/earn/pools" routerLinkActive="active">Pools</a>
    </div>
  </div>
  <div class="footer-mobile-aside-icons d-flex flex-column justify-content-center align-items-center"
    (mouseover)="showWinMenu = true" (mouseout)="showWinMenu = false">
    <img src="../../../assets/svg/mobile-footer-win.svg" class="mobile-footer-icons">
    <span>Win</span>
    <div
      class="d-none toogle-menu toogle-menu-bottom position-absolute flex-column align-items-start justify-content-start"
      [class.open-menu]="showWinMenu">
      <a routerLink="/win/competition" routerLinkActive="active">Trading Competition</a>
      <a routerLink="/win/lottery" routerLinkActive="active">Lottery</a>
    </div>
  </div>
  <div class="footer-mobile-aside-icons d-flex flex-column justify-content-center align-items-center"
    (mouseover)="showNftMenu = true" (mouseout)="showNftMenu = false">
    <img src="../../../assets/svg/mobile-footer-nft.svg" class="mobile-footer-icons">
    <span>NFT</span>
    <div
      class="d-none toogle-menu toogle-menu-bottom position-absolute end-0 flex-column align-items-start justify-content-start"
      [class.open-menu]="showNftMenu">
      <a routerLink="/nfts/overview" routerLinkActive="active">Overview</a>
      <a routerLink="/nfts/collections" routerLinkActive="active">Collections</a>
    </div>
  </div>
  <div class="footer-mobile-aside-icons d-flex flex-column justify-content-center align-items-center"
    (mouseover)="showPointsMenu = true" (mouseout)="showPointsMenu = false">
    <img src="../../../assets/svg/nav-points.svg" class="mobile-footer-icons">
    <div
      class="d-none toogle-menu toogle-menu-bottom position-absolute end-0 flex-column align-items-start justify-content-start"
      [class.open-menu]="showPointsMenu">
      <a routerLink="/info" routerLinkActive="active">Info</a>
      <a routerLink="/ifo" routerLinkActive="active">IFO</a>
      <hr />
      <a routerLink="/teams" routerLinkActive="active">Leaderboard</a>
      <hr />
    </div>
  </div>
</aside>
