<div class="win-millions position-relative w-100 h-100 flex-column d-flex align-items-center">
    <div class="win-millions-central-section ">
        <app-win-background></app-win-background>
        <div class="win-millions-inner">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h2 class="title-h2">
                    <span class=purple-h2>
                        Win
                    </span>
                    <span class="">
                        millions in prizes
                    </span>
                </h2>
                <div class="paragraph-text m-0">
                    Provably fair, on-chain games.
                </div>
                <div class="paragraph-text mb-4">
                    Win big with PancakeSwap.
                </div>
                <div class="d-flex cards-container">
                    <div class="card-left d-flex">
                        <app-win-card-left></app-win-card-left>
                    </div>
                    <div class="card-right d-flex">
                        <app-win-card-right></app-win-card-right>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>