
    <div class="container">
    <div class="header">
        <div class="header-content">
            <img class="header-icon white"  src="assets/svg/chart.svg">
            <div class="text-center bold">Swap</div>
            <div class="d-flex">
                <img class="header-icon white m-rh5" src="assets/svg/setting.svg">
                <img class="header-icon white m-rh5" src="assets/svg/history.svg">
                <img class="header-icon white m-rh5" src="assets/svg/setting.svg">
            </div>
        </div>
        <div class="text-center m-top10">Trade tokens in an instant</div>
    </div>
    <div class="token-container">
        <div class="token-a">
            <div class="token-section">
                <div class="selection">
                    <img class="token-img" src="https://pancakeswap.finance/images/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png" alt=""> -->
                    <div>CAKE</div>
                    <img class="white" src="assets/svg/section-arrow.svg" alt="">
                </div>
                <img class="white" src="assets/svg/copy.svg" alt="">
            </div>
            <div class="input-cake">
                <input type="number" placeholder="0.0">
                <span></span>
            </div>
        </div>
        <div class="f-center">
            <div class="section-icon f-center">
                <img class="blue"src="assets/svg/arrow.svg" alt="">
            </div>
        </div>
        <div class="token-b">
            <div class="token-section">
                <div class="selection">
                    <img src="assets/svg/bnb.svg" alt="">
                    <div>BNB</div>
                </div>
                <img class="white" src="assets/svg/section-arrow.svg" alt="">
            </div>
            <div class="input-cake">
                <input type="number" placeholder="0.0">
                <span></span>
            </div>
        </div>
        <div class="sub">
            <h5>Slippage Tolerance</h5>
            <p>
                40%
            </p>
        </div>
        <button>Connect Wallet</button>
    </div>
</div>

