@import "../trade-anything/trade-anything.component.scss";

.used-by-section {
    padding: 48px 0px;
    background: var(--background-13);
}

.p-color-5 {
    color: var(--color-5);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: center;
    font-size: 16px;
}