<div class="position-relative d-flex mt-0">
    <div id="wrapper">
        <div class="hero-section">
            <div class="hero">
                <h1>Teams & Profiles</h1>
                <div class="hero-paragraph">
                    Show off your stats and collectibles with your unique profile. Team features will be revealed soon!
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between teams">
                <h2>Teams</h2>
            </div>
        </div>
    </div>
</div>