section {
  padding: 48px 24px;
  height: 100%;
  background: var(--background-8);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.tab-orders {
  width: 100%;
}

.card-trade {
  width: 320px;
}

@media(min-width: 768px) {
  .tab-orders {
    width: calc(100% - 328px - 40px);
  }
}
