@import "../card-body/card-body.component.scss";

.card-pools-footer {
    border-top: var(--border);
    padding: 24px;
}

.details {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}

.details:hover {
    opacity: 0.65;
}

.collapsable {
    display: none;
}

.aColor {
    color: rgb(31, 199, 212);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: fit-content;
}

.aColor:hover {
    color: rgb(31, 199, 212);
    text-decoration: underline;
}

.color-manual {
    color: var(--color-1);
    border: var(--border-4);
}

.puntatore {
    position: absolute;
    left: 140px;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    z-index: -1;
}

.puntatore::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background: rgb(39, 38, 44);
    width: 10px;
    height: 10px;
}

.cloud-hover {
    position: absolute;
    inset: auto auto 0px 0px;
    transform: translate3d(-13px, 62px, 0px);
    opacity: 1;
    padding: 16px;
    font-size: 16px;
    line-height: 130%;
    border-radius: 16px;
    width: 280px;
    z-index: 101;
    background: var(--background-9);
    color: var(--color-8);
}

.cloud-hover-auto {
    position: absolute;
    inset: auto auto 0px 0px;
    transform: translate3d(-30px, 62px, 0px);
    opacity: 1;
    padding: 16px;
    font-size: 16px;
    line-height: 130%;
    border-radius: 16px;
    width: 280px;
    z-index: 101;
    background: var(--background-9);
    color: var(--color-8);
}