<div class="d-flex position-relative flex-column align-items-center central-section">
  <div class="inner-central-section m-0 w-100">
    <div class="overflow-hidden position-absolute start-0 top-0 w-100 h-100 hidden">
      <div class="top-0 w-100 position-absolute" fill="#FFFFFF">
        <img src="../../../../../assets/svg/earn-passive-connection.svg" class="svg-earn">
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="inner-central-section-hero">
        <div class="d-flex flex-column right-inner align-self-start">
          <h2 class="title-h2">
            <span class="purple-h2">Earn </span>
            passive income with crypto.
          </h2>
          <div class="paragraph-text">PancakeSwap makes it easy to make your
            crypto
            work
            for
            you.</div>
          <div class="d-flex">
            <app-standard-button [content]="'Explore'"></app-standard-button>
            <a class="d-flex align-items-center link-light" href="http://" target="_blank"
              rel="noopener noreferrer">Learn</a>
          </div>
        </div>
        <div class="left-inner d-flex position-relative">
          <div class="float-images-container h-100">
            <img class="h-100" src="../../../../../assets/img/pie@2x.webp" alt="Pie chart">
            <img class="h-100" src="../../../../../assets/img/stonks@2x.webp" alt="Stocks chart">
            <img class="h-100" src="../../../../../assets/img/folder@2x.webp" alt="Folder with cake token">
          </div>
        </div>
      </div>
    </div>
    <app-tops-farms-pools></app-tops-farms-pools>
  </div>
</div>
