#wrapper {
    -webkit-box-flex: 1;
    flex-grow: 1;
    transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translate3d(0px, 0px, 0px);
}

.header-container {
    margin-bottom: -40px;
    padding-bottom: 40px;
    background: var(--background-3);
}

#collections-wrapper {
    padding: 14px 0px 48px;
    background: var(--background-0);
}

main {
    margin: 0px;
    width: 100%;
    min-height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: rgb(40, 13, 95);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.grid-container {
    display: grid;
    margin-bottom: 64px;
    gap: 16px;
}

@media screen and (min-width: 370px) {
    main {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 576px) {
    main {
        padding-top: 32px;
        padding-bottom: 32PX;
    }
}

@media screen and (min-width: 968px) {
    main {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 852px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 576px) and (max-width: 851px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 370px) and (max-width: 575px){
    .grid-container {
        grid-template-columns: 1fr;
    }
}