<section class="d-flex justify-content-center align-items-center text-center">
  <div class="d-flex justify-content-center align-items-center gap-3">
    <img src="../../../../../assets/img/ticket-l.png">
    <div class="d-flex flex-column align-items-center gap-4">
      <h2>Connect your wallet<br>to check if you've won!</h2>
      <app-standard-button [content]="'Connect Wallet'" (click)="openModal()"></app-standard-button>
    </div>
    <img src="../../../../../assets/img/ticket-r.png">
  </div>
</section>
