section {
  background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
  padding: 96px 0px;

  img {
    width: 68px;
  }
}

.logged-section {
  padding: 0 24px;
  max-width: 1200px;
  margin: 0 auto;

  div {
    border-radius: 24px;
    width: 290px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: white;
}

p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-1);
}

span {
  color: var(--color-2);
}

@media (min-width: 576px) {
  section {
    img {
      width: 114px;
    }
  }
}
