<section class="position-relative">
  <app-ribbon-title [ribbonImg]="ribbonImg" [ribbonText]="ribbonText"></app-ribbon-title>
  <div id="team-ranks-main"
    class="d-flex flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start">
    <div id="ranks" class="d-flex flex-column align-items-center">
      <div id="ranking-steps" class="position-relative">
        <div id="round-1" class="position-absolute">
          <img src="../../../../../assets/img/syrup-storm-md.png" class="w-100 h-100">
        </div>
        <div id="round-2" class="position-absolute">
          <img src="../../../../../assets/img/fearsome-flippers-md.png" class="w-100 h-100">
        </div>
        <div id="round-3" class="position-absolute">
          <img src="../../../../../assets/img/chaotic-cakers-md.png" class="w-100 h-100">
        </div>
        <img src="../../../../../assets/svg/polposition.svg" class="w-100 position-absolute bottom-0">
      </div>
      <div class="d-flex align-items-center" id="column-container">
        <div class="column d-flex flex-column align-items-center">
          <h5>$17,878,338</h5>
          <span class="column-separator">Volume</span>
          <h5 class="d-flex align-items-center">
            <img src="../../../../../assets/svg/ranks-bunny.svg">
            2.098
          </h5>
          <span>Partecipants</span>
        </div>
        <div class="column d-flex flex-column align-items-center">
          <h5>$28,187,929</h5>
          <span class="column-separator">Volume</span>
          <h5 class="d-flex align-items-center">
            <img src="../../../../../assets/svg/ranks-bunny.svg">
            2.230
          </h5>
          <span>Partecipants</span>
        </div>
        <div class="column d-flex flex-column align-items-center">
          <h5>$16,149,457</h5>
          <span class="column-separator">Volume</span>
          <h5 class="d-flex align-items-center">
            <img src="../../../../../assets/svg/ranks-bunny.svg">
            2.762
          </h5>
          <span>Partecipants</span>
        </div>
      </div>
      <div class="position-relative" id="partecipants">
        <img src="../../../../../assets/img/MoD-caker.webp" class="position-absolute d-none d-lg-block"
          id="bunny-caker">
        <h3>Total Partecipants</h3>
        <h4 class="d-flex align-items-center">
          <img src="../../../../../assets/svg/ranks-bunny.svg">
          7090
        </h4>
      </div>
    </div>
    <div id="ranks-table">
      <div class="w-100 d-flex justify-content-between align-items-center" id="ranks-table-header">
        <div>
          <h3>Top Traders</h3>
          <p>Since start of the competition</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <div id="pink-round"></div>
          <span>Delayed</span>
          <img src="../../../../../assets/svg/question-mark.svg">
        </div>
      </div>
    </div>
  </div>
</section>
