section {
  padding: 14px 24px 125px 24px;
  background-color: var(--background-0);

  #team-ranks-main {
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;

    #ranks-table {
      width: 100%;
    }

    #ranks {
      width: 100%;
      gap: 24px;

      #ranking-steps {
        width: 260px;
        height: 160px;

        #round-1 {
          border-radius: 100%;
          overflow: hidden;
          width: 74px;
          height: 74px;
          bottom: 55px;
          left: 10px;
          z-index: 1;
        }

        #round-2 {
          border-radius: 100%;
          overflow: hidden;
          width: 84px;
          height: 84px;
          top: 10px;
          left: 88px;
          z-index: 1;
        }

        #round-3 {
          border-radius: 100%;
          overflow: hidden;
          width: 74px;
          height: 74px;
          right: 10px;
          bottom: 37px;
          z-index: 1;
        }
      }

      #column-container {
        width: 260px;

        .column {
          gap: 5px;
          width: 33.3%;

          .column-separator {
            margin-bottom: 11px;
          }

          h5 {
            color: var(--color-2);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;

            img {
              width: 24px;
              height: 24px;
              filter: var(--filter-6);
            }
          }

          span {
            color: var(--color-3);
            font-weight: 400;
            line-height: 1.5;
            font-size: 12px;
          }
        }
      }

      #partecipants {
        padding: 24px;
        border-radius: 24px;
        background: var(--background-7);
        width: 100%;

        #bunny-caker {
          width: 292px;
          z-index: 1;
          right: -40px;
          bottom: -180px;
        }

        h3 {
          font-weight: 600;
          line-height: 1.5;
          font-size: 24px;
          color: var(--color-1);
          margin-bottom: 12px;
        }

        h4 {
          color: var(--color-2);
          font-weight: 600;
          line-height: 1.5;
          font-size: 24px;

          img {
            width: 24px;
            height: 24px;
            filter: var(--filter-6);
          }
        }
      }

    }
  }
}

@media (min-width: 576px) {
  section {
    #team-ranks-main {
      #ranks {
        #ranking-steps {
          width: 387px;
          height: 230px;

          #round-1 {
            width: 113px;
            height: 113px;
            bottom: 85px;
          }

          #round-2 {
            width: 128px;
            height: 128px;
            top: 0;
            left: 133px;
          }

          #round-3 {
            width: 113px;
            height: 113px;
            bottom: 60px;
          }
        }

        #column-container {
          width: 387px;
        }

        #partecipants {
          width: 70%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  section {
    padding: 14px 24px 190px 24px;

    #team-ranks-main {
      #ranks {
        width: calc(45% - 40px);

        #partecipants {
          width: 100%;
        }
      }

      #ranks-table {
        width: calc(55% - 40px);
      }
    }
  }
}
