<div id="phishing" class="row align-items-center justify-content-start justify-content-md-between">
  <div class="col-10 col-md-8 offset-md-2 position-relative">
    <img src="../../../../assets/img/phishing-warning-bunny.png" alt="phishing-warning"
      class="position-absolute d-none d-md-block">
    <div id="phishing-message" class="d-flex justify-content-start align-items-center">
      <p>
        <span id="phishing-title">PHISHING WARNING:</span>
        please make sure you're visiting
        <span class="text-white">https://pancakeswap.finance</span>
        - check the URL carefully.
      </p>
    </div>
  </div>
  <div class="col-2 col-md-1 d-flex justify-content-start justify-content-md-end align-items-center">
    <img src="../../../../../assets/svg/close-x.svg" (click)="hide()" id="close-x">
  </div>
</div>
