<app-hero></app-hero>
<app-used-by></app-used-by>
<div class="container-wrapper">
    <div class="w-100 position-relative">
      <div class="position-relative d-flex m-0">
        <div class="container-flow">
          <div class="vertical">
            <app-trade-anything></app-trade-anything>
            <app-earn-passive></app-earn-passive>
          </div>
          <div>
            <app-win-millions></app-win-millions>
            <app-cake-makes></app-cake-makes>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-start-in-seconds></app-start-in-seconds>
