<div class="balls-left">
    <div class="max-height">
        <div class="balls-left-imgs animate1">
            <img class="mh-100 h-auto"
                src="https://pancakeswap.finance/images/home/prediction-cards/bottom-left.webp"
                alt="Pie chart">
        </div>
        <div class="balls-left-imgs animate2">
            <img class="mh-100 h-auto"
                src="https://pancakeswap.finance/images/home/prediction-cards/green.webp" alt="Pie chart">
        </div>
        <div class="balls-left-imgs animate3">
            <img class="mh-100 h-auto"
                src="https://pancakeswap.finance/images/home/prediction-cards/red.webp" alt="Pie chart">
        </div>
        <div class="balls-left-imgs animate4">
            <img class="mh-100 h-auto"
                src="https://pancakeswap.finance/images/home/prediction-cards/top-right.webp"
                alt="Pie chart">
        </div>
    </div>
</div>