.ribbon-img {
  top: -70px;
  left: 0;

  img {
    width: 175px;
  }
}

.ribbon {
  width: 252px;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .ribbon {
    width: 360px;
  }
}
