
            <div class="table-content">
                <div class="table-card">
                    <div class="header">
                        <div class="left-side">
                            <button class="toggle">Open Orders</button>
                        </div>
                        <div class="right-side">
                            <button class="toggle">Orders History</button>
                        </div>
                    </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Limit Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="middle-content">
                            <div class="icon-content">
                                <img src="assets/imgs/rabbit.svg" alt="">
                            </div>
                            <div class="text-content white">No open orders</div>
                        </div>
                        <div class="footer">
                            <div class="left-side-foo"></div>
                            <div class="middle-side-foo">
                                <img class="arrows" src="assets/svg/table-arrow-left.svg" alt="">
                                <div class="text-content white">Page 1 of 1 </div>
                                <img class="arrows" src="assets/svg/table-arrow-right.svg" alt="">
                            </div>
                            <div class="right-side-foo white">🟣 Delayed </div>
                        </div>
                </div>
            </div>

