<section class="d-flex flex-column align-items-center">
  <h2>Get your tickets now!</h2>
  <p>
    <span>
      <span>{{getLotteryMinutes()}}</span>
      m
      <span>{{getLotterySeconds()}}</span>
      s
    </span>
    until the draw
  </p>
  <div id="table">
    <div id="table-header" class="d-flex justify-content-between align-items-center w-100">
      <h3>Next Draw</h3>
      <p>
        #{{currentLottery}} | Draw:
        <span>{{getLotteryMinutes()}}</span>
        m
        <span>{{getLotterySeconds()}}</span>
        s
      </p>
    </div>
    <div id="table-main" class="d-flex flex-column align-items-center align-items-lg-start w-100">
      <div class="prize-pot w-100 d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
        <h4>Prize Pot</h4>
        <div class="d-flex flex-column align-items-center align-items-lg-start gap-1">
          <h3>~${{(getCakePrize() * getCakePrice()) | mathCeil}}</h3>
          <p>{{getCakePrize()}} CAKE</p>
        </div>
      </div>
      <div class="d-flex align-items-start justify-content-center justify-content-lg-start prize-pot w-100">
        <h4 class="d-none d-lg-block">Your tickets</h4>
        <app-standard-button [content]="'Buy Tickets'" (click)="openModal()"></app-standard-button>
      </div>
    </div>
    <div class="w-100" *ngIf="showTableDetails">
      <app-hidden-table class="w-100"></app-hidden-table>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="my-2">
        <app-accordion-btn (click)="showTableDetails = !showTableDetails"></app-accordion-btn>
      </div>
    </div>
  </div>
</section>
