<div class="position-relative d-flex">
    <div id="wrapper" class="">
        <app-page-header [pageTitle]="'Syrup Pools'" [subTitle]="'Just stake some tokens to earn. High APR, low risk.'"
            [search]="false"></app-page-header>
    </div>
</div>

<div class="wrapper">
    <app-controls (sorted)="sortBy = $event" (finished)="finished = $event" (stakedOnly)="stakedOnly = $event"
        (CardView)="CardView = $event"></app-controls>
    <div *ngIf="CardView && !stakedOnly && !finished" class="d-flex flex-wrap justify-content-center gap-3">
        <app-card [cakes]="'5,545,871'" [poolName]="'IFO CAKE'" [poolPrice]="14.55" [isCake]="true"></app-card>
        <ng-container *ngIf="sortBy == 'Hot'">
            <div *ngFor="let pool of sortedPools">
                <app-card [cakes]="pool.cake" [poolName]="pool.name" [poolPrice]="pool.apr" [isCake]="false"></app-card>
            </div>
        </ng-container>
        <ng-container *ngIf="sortBy != 'Hot'">
            <div *ngFor="let pool of pools">
                <app-card [cakes]="pool.cake" [poolName]="pool.name" [poolPrice]="pool.apr" [isCake]="false"></app-card>
            </div>
        </ng-container>
    </div>
    <div *ngIf="!CardView && !stakedOnly && !finished" class="farms-table w-100">
        <ng-container *ngIf="sortBy == 'Hot'">
            <div *ngFor="let pool of sortedPools">
                <app-table-row [pool]="pool" [isPools]="true" ></app-table-row>
            </div>
        </ng-container>
    </div>
    <div class="d-flex flex-row pb-4" *ngIf="finished">
        <div class="text-danger">Looking for v1 CAKE syrup pools? </div>
        <a href="" class="text-danger text-decoration-underline">Go to migration page.</a>
    </div>
    <div class="bottom-image">
        <img src="https://pancakeswap.finance/images/decorations/3d-syrup-bunnies.png" alt="" srcset="">
    </div>
</div>