#wrapper {
    -webkit-box-flex: 1;
    flex-grow: 1;
    transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translate3d(0px, 0px, 0px);
    max-width: 100%;
}

.wrapper {
    min-height: calc(100vh - 64px);
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}