<div id="ifo-background-section"
  [ngStyle]="{'background-image': darkModeStatus() ? 'url(../../../../../assets/img/ifo-banner-dark.png)' : 'url(../../../../../assets/img/ifo-banner-light.png)' }">
  <div class="mx-auto my-0">
    <h1>IFO: Initial Farm Offerings</h1>
    <div
      class="d-flex flex-column justify-content-start align-items-start flex-md-row justify-content-md-between align-items-md-center">
      <p>Buy new tokens launching on BNB Smart Chain</p>
      <button type="button" class="align-self-end">How does it work?</button>
    </div>
  </div>
</div>
