<div>
    <div class="d-flex position-absolute top-0 changely border-left-charts" [@showHide]="top ? 'open' : 'close' ">
        <div>FIGHT-BUSD LP</div>
        <div>
            <span>390.752%</span>
        </div>
        <div>APR</div>
    </div>
</div>



<!-- <div [hidden]="top" [@showHide]="!top ? 'open' : 'closed'">
    <div class="d-flex position-absolute top-0 changely border-left-charts">
        <div>Provone</div>
        <div>
            <span>390.752%</span>
        </div>
        <div>APR</div>
    </div>
</div> -->