<div class="d-flex position-relative flex-column align-items-center central-section-1 m-0">
  <div class="inner-central-section w-100">
    <div class="overflow-hidden position-absolute w-100 h-100 end-0 top-0 hidden">
      <div class="d-flex position-absolute top-0 w-100">
        <img class="trade-svg" src="../../../../../assets/svg/trade-anything-connection.svg">
      </div>
    </div>
    <div class="d-flex flex-column pt-5">
      <div id="row-first" class="inner-central-section-hero">
        <div class="d-flex flex-column right-inner align-self-start">
          <h2 class="title-h2">
            <span class="purple-h2">Trade </span>
            anything. No registration, no hassle.
          </h2>
          <div class="paragraph-text">Trade any token on BNB Smart Chain in seconds,
            just by connecting your wallet.</div>
          <div class="d-flex">
            <app-standard-button [content]="'Trade Now'"></app-standard-button>
            <a class="d-flex align-items-center link-light" href="http://" target="_blank"
              rel="noopener noreferrer">Learn</a>
          </div>
        </div>
        <div class="left-inner d-flex position-relative">
          <div class="float-images-container h-100">
            <img class="h-100" src="../../../../../assets/img/BNB@2x.webp" alt="Pie chart">
            <img class="h-100" src="../../../../../assets/img/BTC@2x.webp" alt="Stocks chart">
            <img class="h-100" src="../../../../../assets/img/CAKE@2x.webp" alt="Folder with cake token">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>