<button class="newest-arrivals-card">
  <img src="{{image}}">
  <div class="newest-arrivals-card-text d-flex flex-column justify-content-between align-items-start">
    <span>{{category}}</span>
    <h4>{{title}}</h4>
    <hr class="w-100" />
    <div class="d-flex justify-content-between align-items-center w-100">
      <span>Asking Price</span>
      <div class="newest-arrivals-card-coin-section d-flex justify-content-between align-items-center">
        <span>({{price}})</span>
        <img src="../../../../../assets/svg/nft-arrivals-card.svg">
        <h4>{{cake}}</h4>
      </div>
    </div>
  </div>
</button>
