<div
  class="d-flex flex-column justify-content-between align-items-start setting-screen-padding setting-screen-first-section">
  <h4>GLOBAL</h4>
  <div class="d-flex justify-content-between align-items-center w-100">
    <h3>Dark mode</h3>
    <app-dark-mode-button></app-dark-mode-button>
  </div>
  <div class="d-flex justify-content-start align-items-center question-mark-gap">
    <h3>Default Transaction Speed (GWEI)</h3>
    <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
  </div>
  <div class="d-flex justify-content-center align-items-center w-100 question-mark-gap">
    <button type="button" class="setting-screen-btn setting-screen-btn-first-form"
      [class.setting-screen-btn-activated]="firstButtonForm[0]" (click)="updateFirstButtonForm(0)">Standard
      (5)</button>
    <button type="button" class="setting-screen-btn setting-screen-btn-first-form"
      [class.setting-screen-btn-activated]="firstButtonForm[1]" (click)="updateFirstButtonForm(1)">Fast (6)</button>
    <button type="button" class="setting-screen-btn setting-screen-btn-first-form"
      [class.setting-screen-btn-activated]="firstButtonForm[2]" (click)="updateFirstButtonForm(2)">Instant
      (7)</button>
  </div>
</div>
<div
  class="d-flex flex-column justify-content-between align-items-start setting-screen-padding setting-screen-second-section">
  <h4>SWAPS & LIQUIDITY</h4>
  <div class="d-flex justify-content-start align-items-center question-mark-gap">
    <h3>Slippage Tolerance</h3>
    <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
  </div>
  <div class="d-flex justify-content-center align-items-center question-mark-gap" id="slippage-inputs">
    <button type="button" class="setting-screen-btn setting-screen-btn-second-form"
      [class.setting-screen-btn-activated]="secondButtonForm[0]" (click)="updateSecondButtonForm(0)">0.1%</button>
    <button type="button" class="setting-screen-btn setting-screen-btn-second-form"
      [class.setting-screen-btn-activated]="secondButtonForm[1]" (click)="updateSecondButtonForm(1)">0.5%</button>
    <button type="button" class="setting-screen-btn setting-screen-btn-second-form"
      [class.setting-screen-btn-activated]="secondButtonForm[2]" (click)="updateSecondButtonForm(2)">1.0%</button>
    <input type="number" class="setting-screen-input setting-screen-input-slippage" placeholder="0.50"
      [(ngModel)]="secondButtonFormValue">
    <h3>%</h3>
  </div>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex justify-content-start align-items-center question-mark-gap">
      <h3>Tx deadline (mins)</h3>
      <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
    </div>
    <input type="number" class="setting-screen-input" placeholder="3">
  </div>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex justify-content-start align-items-center question-mark-gap">
      <h3>Expert Mode</h3>
      <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
    </div>
    <app-toogle-btn [toogleId]="'expert-mode-checkbox'"></app-toogle-btn>
  </div>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex justify-content-start align-items-center question-mark-gap">
      <h3>Disable Multihops</h3>
      <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
    </div>
    <app-toogle-btn [toogleId]="'multihops-checkbox'"></app-toogle-btn>
  </div>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex justify-content-start align-items-center question-mark-gap">
      <h3>Subgraph Health Indicator</h3>
      <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
    </div>
    <app-toogle-btn [toogleId]="'health-indicator-checkbox'"></app-toogle-btn>
  </div>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex justify-content-start align-items-center question-mark-gap">
      <h3>Flippy sounds</h3>
      <img src="../../../../../assets/svg/question-mark.svg" class="question-mark align-self-start">
    </div>
    <app-toogle-btn [toogleId]="'sound-checkbox'" [pancakeButter]="true"></app-toogle-btn>
  </div>
</div>
