.grid-container {
  display: grid;
  margin-bottom: 64px;
  gap: 16px;
}

.border-inner {
  border-radius: 8px 8px 8px 56px;
}

.card-outside {
  transition: opacity 200ms ease 0s;
  background: var(--background-14);
  color: var(--color-2);
  padding: 1px 1px 3px;
}

.card-outside:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card-outside>div {
  border-radius: 8px 8px 8px 56px !important;
}

.card-backimg {
  background: var(--background-15);
  color: var(--color-2);
  overflow: inherit;
  padding: 1px 1px 3px;
  border-radius: 24px;
}

.card-padding {
  padding: 8px;
}

.image-container {
  max-height: 98.21px;
}

.card-top-image {
  border-radius: 4px;
  width: 100%;
  transform: translate(0, -30%);
}

.card-bottom {
  height: 65px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -32px;
  border: var(--border);
  max-height: 96px;
  max-width: 96px;
  width: 100%;
}

.avatar::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.color-text {
  color: var(--color-2);
}

.color-text:hover {
  color: var(--color-2);
}

.nft-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 8px;
  font-family: "Kanit", sans-serif;
}

.card-footer-text {
  color: var(--color-3);
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  font-family: "Kanit", sans-serif;
}

.card-svg {
  align-self: center;
  fill: var(--color-2);
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.volume-text {
  color: var(--color-2);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

@media screen and (min-width: 852px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 851px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 370px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
