section {
  padding: 96px 24px;
  background: var(--background-24);
  gap: 24px;

  h2 {
    font-weight: 600;
    line-height: 1.1;
    font-size: 40px;
    text-align: center;
    color: var(--color-2);
  }

  #table {
    width: 100%;
    overflow: hidden;
    background-color: var(--background-25);
    border-radius: 24px;
    border: var(--border-2);

    .table-section {
      padding: 24px;
      border-bottom: var(--border-2);
      overflow: hidden;

      #latest {
        background-color: rgb(118, 69, 217);
        padding: 8px 0px;
        text-align: center;
        transform: translateX(30%) translateY(0%) rotate(45deg);
        transform-origin: left top;
        width: 96px;
        right: -20px;
        top: -20px;

        h5 {
          font-size: 16px;
          color: white;
        }
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: var(--color-2);
        margin-bottom: 15px;
      }

      p {
        color: var(--color-2);
        font-weight: 400;
        line-height: 1.5;
        font-size: 14px;
      }

      h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: var(--color-2);
        margin-bottom: 24px;
      }

      #ball-container {
        .ball {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          h3 {
            margin: 0;
            text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px, white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
            font-weight: 600;
            line-height: 1.5;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.arrow-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;

  img {
    width: 100% !important;
    height: auto !important;
    filter: invert(74%) sepia(67%) saturate(1307%) hue-rotate(136deg) brightness(89%) contrast(85%);
  }

  &:disabled {
    img {
      filter: invert(80%) sepia(19%) saturate(30%) hue-rotate(152deg) brightness(96%) contrast(86%);
    }
  }
}

@media (min-width: 768px) {
  section {
    #table {
      .table-section {
        #ball-container {
          padding-right: 32px;

          .ball {
            width: 70px;
            height: 70px;

            h3 {
              font-size: 42px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  section {
    #table {
      width: 756px;
    }
  }
}
