.label-dark-mode {
    width: 55px;
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    height: 32px;
    outline: 0px;
    padding: 0 3px;
    border: 1px solid rgb(215, 202, 236);
    transition: 0.2s ease;
    background-color: rgba(189, 194, 196, 255);
    cursor: pointer;
}

.dark-mode-circle {
    width: 25px;
    height: 25px;
    top: 2px;
    left: 0;
    z-index: 5;
    &:hover {
        outline: 4px solid rgba(173, 143, 232, 255);
    }
}

.dark-mode-circle-activated {
    left: 30px !important;
    outline: 4px solid rgba(173, 143, 232, 255) !important;
    background-color: black !important;
}

.setting-screen-disappear-checkbox {
    top: -1000000px;
    left: -10000000px;
}