<div class="d-flex flex-column align-items-center calculating">
  <div class="d-flex align-items-center justify-content-center">
    <img src="../../../../../assets/svg/calculating-left.svg">
    <h3>Calculating...</h3>
    <img src="../../../../../assets/svg/calculating-right.svg">
  </div>
  <p>Prizes will be announced and available for claiming at ~ May 26, 2022, 10:00 AM</p>
  <button type="button" class="d-flex align-items-center">
    <img src="../../../../../assets/svg/twitter-icon.svg">
    Follow Update
  </button>
</div>
