<div>
  <div class="central-section2">
    <div class="inner-central-section2">
      <div class="d-flex flex-column">
        <div id="row-first" class="inner-central-section-hero">
          <div class="d-flex flex-column right-inner m-0 align-self-start">
            <h2 class="title-h2">
              <span class="purple-h2">CAKE </span>
              makes our world go round.
            </h2>
            <div class="paragraph-text">CAKE token is at the heart of the PancakeSwap ecosystem. Buy it, win it, farm
              it, spend it, stake it... heck, you can even vote with it!</div>
            <div class="d-flex">
              <app-standard-button [content]="'Buy CAKE'"></app-standard-button>
              <a class="d-flex align-items-center link-light" href="#" target="_blank"
                rel="noopener noreferrer">Learn</a>
            </div>
          </div>
          <div class="left-inner d-flex position-relative">
            <div class="float-images-container h-100">
              <img class="h-100" src="../../../../../assets/img/bottom-right@2x.webp" alt="Pie chart">
              <img class="h-100" src="../../../../../assets/img/top-right@2x.webp" alt="Stocks chart">
              <img class="h-100" src="../../../../../assets/img/coin@2x.webp " alt="Folder with cake token">
              <img class="h-100" src="../../../../../assets/img/top-left@2x.webp  " alt="Folder with cake token">
            </div>
          </div>
        </div>
      </div>
      <app-cake-grid></app-cake-grid>
    </div>
  </div>
</div>