<div>
    <div class="central-section2">
        <div class="inner-central-section2">
            <div class="d-flex flex-column">
                <div id="row-first" class="inner-central-section-hero">
                    <div class="d-flex flex-column right-inner m-0 align-self-start">
                        <h2 class="title-h2">
                            <span class="purple-h2">CAKE </span>
                            makes our world go round.
                        </h2>
                        <div class="paragraph-text">CAKE token is at the heart of the PancakeSwap ecosystem. Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</div>
                        <div class="d-flex">
                            <app-btn-standard-big [content]="'Buy CAKE'"></app-btn-standard-big>
                            <a class="d-flex align-items-center link-light" href="http://"
                                target="_blank" rel="noopener noreferrer">Learn</a>
                        </div>
                    </div>
                    <div class="left-inner d-flex position-relative">
                        <div class="float-images-container h-100">
                            <img class="h-100"
                                src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp"
                                alt="Pie chart">
                            <img class="h-100"
                                src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp"
                                alt="Stocks chart">
                            <img class="h-100"
                                src=" https://pancakeswap.finance/images/home/cake/coin@2x.webp "
                                alt="Folder with cake token">
                            <img class="h-100"
                                src=" https://pancakeswap.finance/images/home/cake/top-left@2x.webp  "
                                alt="Folder with cake token">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid grid-template2">
                <div class="d-flex-flex-column">
                    <div class="paragraph-text m-0">Total Supply</div>
                    <div class="h4">275,085,564</div>
                </div>
                <div class="d-flex-flex-column border-left">
                    <div class="paragraph-text m-0">Burned to date</div>
                    <div class="h4">392,962,298</div>
                </div>
                <div class="d-flex-flex-column border-left1">
                    <div class="paragraph-text m-0">Market cap</div>
                    <div class="h4">$1.6 billion</div>
                </div>
                <div class="d-flex-flex-column border-left">
                    <div class="paragraph-text m-0">Current emissions</div>
                    <div class="h4">14.25/block</div>
                </div>
            </div>
        </div>
    </div>
</div>