.card-pools-center {
    padding: 24px;
}

.hover-opacity:hover {
    opacity: 0.5;
}

.card-pools-center-p {
    color: var(--color-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.card-pools-center-p-smaller {
    color: var(--color-2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.card-pools-center-p-dotted {
    text-decoration: underline dotted rgb(122, 110, 170);
    text-underline-offset: 0.1em;
}

.credit-calculation {
    color: rgb(255, 178, 55);
    font-weight: 600;
    line-height: 1.5;
    margin-right: 4px;
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
}

.credit-calculation:hover {
    color: rgb(255, 178, 55);
    text-decoration: underline;
}

.card-pools-center-svg {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-left: 4px;
}

.card-pools-center-bottom {
    gap: 24px;
}

.start-earning {
    color: var(--color-3);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
}

