<div class="info-table container-fluid">
  <div class="row info-table-head">
    <div class="col col-sm-7 col-md-5 d-flex justify-content-start align-items-center">
      <span class="d-none d-md-block info-table-number">#</span>
      <span>NAME</span>
    </div>
    <div class="col d-none d-md-block">PRICE</div>
    <div class="col d-none d-lg-block">PRICE CHANGE</div>
    <div class="col-4 col-sm">VOLUME 24H ↓</div>
    <div class="col d-none d-md-block">LIQUIDITY</div>
  </div>
  <a href="#" class="row info-table-row" *ngFor="let token of tokensList; let index = index">
    <div class="col col-sm-7 col-md-5 d-flex justify-content-start align-items-center">
      <span class="info-table-number d-none d-md-block">{{index + 1}}</span>
      <div class="d-flex justify-content-between align-items-center">
        <img [src]="token.image">
        <span class="d-none d-sm-block">{{token.name}} ({{token.symbol | uppercase}})</span>
        <span class="d-sm-none">{{token.symbol | uppercase}}</span>
      </div>
    </div>
    <div class="col d-none d-md-block">
      <span>{{token.current_price.toFixed(2) | currency}}</span>
    </div>
    <div class="col d-none d-lg-block info-table-positive-color">
      <span>↑{{token.price_change_percentage_24h.toFixed(2)}}%</span>
    </div>
    <div class="col-4 col-sm">
      <span>{{token.total_volume.toFixed(2) | currency}}</span>
    </div>
    <div class="col d-none d-md-block">
      <span>$2.88B</span>
    </div>
  </a>
  <div class="row info-table-row border-0 h-auto">
    <div class="col-12 d-flex justify-content-center align-items-center info-table-footer">
      <svg viewBox="0 0 24 24" color="textDisabled" width="20px" xmlns="http://www.w3.org/2000/svg"
        class="sc-5a69fd5e-0 jGReT info-table-arrow" id="info-page-tokens-arrow-left">
        <path
          d="M19 11H7.82998L12.71 6.12C13.1 5.73 13.1 5.09 12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7L4.70998 11.29C4.31998 11.68 4.31998 12.31 4.70998 12.7L11.3 19.29C11.69 19.68 12.32 19.68 12.71 19.29C13.1 18.9 13.1 18.27 12.71 17.88L7.82998 13H19C19.55 13 20 12.55 20 12C20 11.45 19.55 11 19 11Z">
        </path>
      </svg>
      <span>Page <span id="info-page-tokens-index">1</span> of 3</span>
      <svg viewBox="0 0 24 24" color="primary" width="20px" xmlns="http://www.w3.org/2000/svg"
        class="sc-5a69fd5e-0 dwUojQ info-table-arrow" id="info-page-tokens-arrow-right">
        <path
          d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z">
        </path>
      </svg>
    </div>
  </div>
</div>
