.card-pools-footer {
    border-top: var(--border);
    padding: 24px;
}

.details {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}

.details:hover {
    opacity: 0.65;
}

.collapsable {
    display: none;
}

.aColor {
    color: rgb(31, 199, 212);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: fit-content;
}

.aColor:hover {
    color: rgb(31, 199, 212);
    text-decoration: underline;
}

.color-manual {
    color: var(--color-1);
    border: var(--border-4);
}

.card-pool-p {
    color: var(--color-3);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

.card-pools-top {
    background: var(--background-7);
    border-radius: 24px 24px 0px 0px;
    padding: 24px;
}

.card-pools-top-right {
    max-height: 64px;
    max-width: 64px;
}

.card-pools-top-right :nth-child(1) {
    width: 92%;
    inset: 0px auto auto 0px;
    z-index: 5;
    max-height: 64px;
    max-width: 64px;
    left: 0px;
    top: 0px;
}

.card-pools-top-right :nth-child(1) img {
    top: 0px;
    left: 0px;
}

.card-pools-top-right :nth-child(1)::before {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    content: "";
    height: 96%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 85%;
    z-index: 5;
}

.card-pools-top-right :nth-child(2) {
    inset: auto 0px 0px auto;
    z-index: 6;
    max-height: 32px;
    max-width: 32px;
}

.card-pools-top-right :nth-child(2)::before {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    content: "";
    height: 93%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 92%;
    z-index: 5;
}

.card-pools-center-p {
    color: var(--color-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 4px;
    color: var(--color-2) !important;
}

@media screen and (min-width: 968px) {
    .card-pools-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
    }
}