section {
  min-height: calc(100vh - 250px);
  background-color: rgb(25, 19, 53);
  padding: 0 24px 242px 24px;

  #calculating {
    bottom: -106px;

    img {
      width: 85px;
    }
  }

  #hero-bunnies {
    width: 333px;
  }

  #finished {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    border: 1px solid rgb(118, 69, 217);
    border-radius: 0px 0px 24px 24px;
    padding: 16px 24px;
    gap: 17px;
    margin-bottom: 50px;

    img {
      width: 64px;
      height: 64px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
      line-height: 110%;
      color: rgb(253, 171, 50);
      font-weight: 600;
      margin-bottom: 24px;
    }

    #finished-steps {
      img {
        width: 20px;
        height: 20px;
      }

      span {
        margin-top: 4px;
        font-weight: 600;
        font-size: 12px;
        color: var(--color-3);
      }

      .separator {
        margin: 0px 8px;
        width: 28px;
        background-color: var(--color-3);
        height: 2px;
        border-radius: 4px;
      }

      .finished-checked {
        filter: var(--filter-4);
      }

      .finished-end {
        color: rgb(83, 222, 233);
      }
    }
  }

  #first-circle {
    width: 100px;
    height: 70px;
    left: 24px;
  }

  #second-circle {
    top: 70px;
    width: 80px;
    height: 60px;
    right: 24px;
  }

  #bottom-img {
    height: 242px;
    background-image: url('../../../../../assets/img/mod-mesh.f35f83b0.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero-text {
    text-align: center;

    span {
      text-shadow: rgb(255 175 0 / 22%) 0px 0px 10px, rgb(255 61 0 / 25%) 0px 0px 8px, rgb(255 135 0 / 55%) 0px 0px 18px;
      color: rgb(255, 213, 133);
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 16px;
      font-size: 16px;
      text-align: center;
    }

    img {
      width: 322px;
      height: 64px;
    }

    h1 {
      font-weight: 700;
      font-size: 46px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: rgb(255, 255, 255);
      text-shadow: rgb(19 16 29) 0px 5px 0px;
      margin-bottom: 9px;
    }

    h2 {
      max-width: 410px;
      text-shadow: rgb(0 255 209 / 22%) 0px 0px 10px, rgb(0 56 255 / 25%) 0px 0px 8px, rgb(0 255 71 / 52%) 0px 0px 18px;
      font-size: 40px;
      line-height: 110%;
      color: rgb(189, 249, 218);
      font-weight: 600;
      margin-bottom: 9px;
    }

    p {
      text-shadow: rgb(255 255 255 / 25%) 0px 0px 8px, rgb(161 101 194 / 88%) 0px 0px 18px, rgb(161 0 255 / 55%) 0px 0px 49px;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: rgb(215, 202, 236);
    }
  }
}

@media (min-width: 576px) {
  section {
    #hero-bunnies {
      width: 507px;
    }

    #calculating {
      transform: translateX(-43px);
    }
  }
}

@media (min-width: 768px) {
  section {
    padding: 0 120px 242px 120px;
  }
}

@media (min-width: 992px) {
  section {
    #first-circle {
      left: 33%;
    }

    #second-circle {
      right: 33%;
    }

    #hero-bunnies {
      position: absolute;
      bottom: 0;
      right: 25px;
    }

    #finished {
      position: absolute;
      top: 0;
      right: 120px;
    }

    #hero-text {
      text-align: left;
      position: absolute;
      top: 46px;
      left: 120px;

      span {
        text-align: left;
      }
    }
  }
}

@media (min-width: 1800px) {
  section {
    #first-circle {
      left: 33%;
    }

    #second-circle {
      right: 40%;
    }

    #hero-bunnies {
      right: 350px;
    }

    #finished {
      right: 470px;
    }

    #hero-text {
      left: 450px;
    }
  }
}
