<section class="position-relative d-flex flex-column align-items-center">
  <img src="../../../../../assets/img/MoD-banner-dar.webp" class="position-absolute top-0 d-none d-sm-block"
    id="first-circle">
  <img src="../../../../../assets/img/MoD-banner-dar2.webp" class="position-absolute d-none d-sm-block"
    id="second-circle">
  <div class="position-absolute w-100 bottom-0 start-0" id="bottom-img"></div>
  <div id="finished" class="d-flex flex-lg-column justify-content-between align-items-center">
    <img src="../../../../../assets/svg/clock.svg">
    <div class="d-flex flex-column justify-content-between align-items-center">
      <h2>Finished!</h2>
      <div class="d-flex justify-content-between align-items-center" id="finished-steps">
        <div class="d-flex flex-column align-items-center">
          <img src="../../../../../assets/svg/competition-check.svg" class="finished-checked">
          <span>ENTRY</span>
        </div>
        <div class="separator"></div>
        <div class="d-flex flex-column align-items-center">
          <img src="../../../../../assets/svg/competition-check.svg" class="finished-checked">
          <span>LIVE</span>
        </div>
        <div class="separator"></div>
        <div class="d-flex flex-column align-items-center">
          <img src="../../../../../assets/svg/competition-finished-bunny.svg">
          <span class="finished-end">END</span>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../../../assets/img/MoD-hero-bunnies.webp" id="hero-bunnies">
  <div id="hero-text" class="d-flex flex-column align-items-center align-items-lg-start">
    <span>{{date | date}}</span>
    <img src="../../../../../assets/svg/mines-of.svg">
    <h1>TRADING COMPETITION</h1>
    <h2>$120,000 in Prizes with Tokens and NFTs!</h2>
    <p>Compete with other teams for the highest trading volume!</p>
  </div>
  <div class="position-absolute d-flex align-items-end bg-transparent" id="calculating">
    <img src="../../../../../assets/img/MoD-banner-dar3.png" class="d-none d-sm-block">
    <app-calculating></app-calculating>
  </div>
</section>
