@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
  font-size: 100%;
  font-family: 'Kanit', sans-serif !important;
}

/*ScrollBar*/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(122, 110, 170);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  border-radius: 10px;
}

body {
  --background-0: rgb(250, 249, 250);
  --background-1: rgb(255, 255, 255);
  --background-2: rgba(239, 244, 245, 255);
  --background-3: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
  --background-4: rgba(0, 0, 0, 0) linear-gradient(111.68deg, #f2ecf2 0%, #e8f2f6 100%) repeat scroll 0% 0%;
  --background-5: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
  --background-6: rgba(255, 255, 255, 0.6);
  --background-7: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
  --background-8: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%);
  --background-9: rgb(39, 38, 44);
  --background-10: rgb(238, 234, 244);
  --background-11: rgb(238, 234, 244);
  --background-12: rgb(122, 110, 170);
  --background-13: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
  --background-14: rgb(231, 227, 235);
  --background-15: white;
  --background-16: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
  --background-17: white;
  --background-18: transparent;
  --background-19: rgb(122, 110, 170);
  --background-20: linear-gradient(rgb(226, 201, 251) 0%, rgb(205, 184, 250) 100%);
  --background-21: linear-gradient(rgb(167, 232, 241) 0%, rgb(148, 225, 242) 100%);
  --background-22: rgb(233, 234, 235);
  --background-23: rgb(246, 246, 246);
  --background-24: linear-gradient(rgb(203, 215, 239) 0%, rgb(154, 159, 208) 100%);
  --background-25: white;
  --background-26: rgb(118, 69, 217);
  --background-27: rgb(238, 238, 238);
  --border: 1px solid rgb(231, 227, 235);
  --border-2: 1px solid rgb(215, 202, 236);
  --border-3: 1px solid rgb(215, 202, 236);
  --border-4: 1px solid rgb(118, 69, 217);
  --border-5: linear-gradient(rgb(83, 222, 233), rgb(118, 69, 217)) 0% 0% / 400% 400%;
  --border-6: 1px solid rgba(128, 91, 219, 255);
  --border-7: 2px solid rgb(238, 234, 244);
  --border-8: 1px solid rgb(189, 194, 196);
  --color-1: rgb(118, 69, 217);
  --color-2: rgb(40, 13, 95);
  --color-3: rgb(122, 110, 170);
  --color-5: rgb(122, 110, 170);
  --color-6: black;
  --color-7: rgb(216, 203, 237);
  --color-8: rgb(244, 238, 255);
  --color-9: white;
  --color-10: #1fc7d4;
  --color-11: #ed4b9e;
  --color-12: rgb(189, 194, 196);
  --filter-1: invert(87%) sepia(4%) saturate(1583%) hue-rotate(216deg) brightness(95%) contrast(95%);
  --filter-2: invert(83%) sepia(3%) saturate(7%) hue-rotate(252deg) brightness(116%) contrast(102%);
  --filter-3: invert(58%) sepia(5%) saturate(3918%) hue-rotate(211deg) brightness(77%) contrast(85%);
  --filter-4: invert(48%) sepia(15%) saturate(1136%) hue-rotate(211deg) brightness(92%) contrast(89%);
  --filter-5: none;
  --filter-6: invert(15%) sepia(81%) saturate(1473%) hue-rotate(240deg) brightness(79%) contrast(118%);
  --filter-7: invert(11%) sepia(66%) saturate(2365%) hue-rotate(246deg) brightness(98%) contrast(114%);
  --box-shadow: 1px 3px 3px rgb(231, 227, 235);
  --box-shadow-2: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
  --box-shadow-3: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  background-color: var(--background-0);
}

body.dark-mode {
  --background-0: rgb(8, 6, 11);
  --background-1: rgba(39, 38, 44, 255);
  --background-2: rgba(53, 53, 71, 255);
  --background-3: radial-gradient(103.12% 50% at 50% 50%, rgb(33, 25, 58) 0%, rgb(25, 19, 38) 100%);
  --background-4: linear-gradient(166.77deg, rgb(59, 65, 85) 0%, rgb(58, 48, 69) 100%);
  --background-5: linear-gradient(rgb(11, 69, 118) 0%, rgb(9, 17, 21) 100%);
  --background-6: rgba(8, 6, 11, 0.6);
  --background-7: linear-gradient(166.77deg, rgb(59, 65, 85) 0%, rgb(58, 48, 69) 100%);
  --background-8: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
  --background-9: rgb(255, 255, 255);
  --background-10: rgb(53, 53, 71);
  --background-11: rgba(55, 47, 71, 255);
  --background-12: rgb(184, 173, 210);
  --background-13: linear-gradient(rgb(9, 7, 12) 22%, rgb(32, 19, 53) 100%);
  --background-14: rgb(56, 50, 65);
  --background-15: rgb(39, 38, 44);
  --background-16: linear-gradient(139.73deg, rgb(20, 35, 57) 0%, rgb(36, 36, 61) 47.4%, rgb(55, 39, 63) 100%);
  --background-17: rgb(25, 19, 38);
  --background-18: rgb(8, 6, 11);
  --background-19: rgb(154, 106, 255);
  --background-20: linear-gradient(rgb(108, 73, 153) 0%, rgb(109, 77, 178) 100%);
  --background-21: linear-gradient(rgb(0, 112, 127) 0%, rgb(25, 119, 140) 100%);
  --background-22: rgb(60, 55, 66);
  --background-23: rgb(30, 29, 32);
  --background-24: linear-gradient(rgb(67, 69, 117) 0%, rgb(102, 87, 141) 100%);
  --background-25: rgb(56, 50, 65);
  --background-26: rgb(154, 106, 255)
  --background-27: rgb(16, 12, 24);
  --border: 1px solid rgb(56, 50, 65);
  --border-2: 1px solid rgb(38, 33, 48);
  --border-3: none;
  --border-4: 1px solid rgb(154, 106, 255);
  --border-6: 1px solid rgb(83, 222, 233);
  --border-7: 2px solid rgb(55, 47, 71);
  --border-8: 1px solid rgb(102, 97, 113);
  --color-1: rgb(154, 106, 255);
  --color-2: rgb(244, 238, 255);
  --color-3: rgb(184, 173, 210);
  --color-5: rgb(244, 238, 255);
  --color-6: rgb(244, 238, 255);
  --color-7: rgb(32, 19, 53);
  --color-8: rgb(40, 13, 95);
  --color-9: black;
  --color-12: rgb(102, 97, 113);
  --filter-1: invert(10%) sepia(27%) saturate(1639%) hue-rotate(224deg) brightness(95%) contrast(101%);
  --filter-2: invert(3%) sepia(3%) saturate(5916%) hue-rotate(222deg) brightness(97%) contrast(100%);
  --filter-3: invert(83%) sepia(35%) saturate(617%) hue-rotate(197deg) brightness(86%) contrast(90%);
  --filter-4: invert(87%) sepia(6%) saturate(3534%) hue-rotate(197deg) brightness(93%) contrast(76%);
  --filter-5: invert(16%) sepia(17%) saturate(722%) hue-rotate(222deg) brightness(96%) contrast(87%);
  --filter-6: invert(95%) sepia(2%) saturate(1015%) hue-rotate(88deg) brightness(109%) contrast(83%);
  --filter-7: invert(99%) sepia(45%) saturate(3659%) hue-rotate(181deg) brightness(106%) contrast(107%);
  --box-shadow: 1px 3px 3px rgb(56, 50, 65);
  --box-shadow-2: rgb(154 106 255) 0px 0px 0px 1px, rgb(154 106 255 / 60%) 0px 0px 0px 4px;
}

body.scroll-disabled {
  height: 100%;
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wrapper {
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translate3d(0px, 0px, 0px);
  max-width: 100%;
}

.wrapper {
  min-height: calc(100vh - 64px);
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 370px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 576px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 32PX;
  }
}

@media screen and (min-width: 968px) {
  .wrapper {
    padding-top: 48px;
  }
}
