.info-page-container {
  background-color: var(--background-0);
}

.info-page-container>div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-2);
}

.info-page-padding-bottom {
  padding-bottom: 32px !important;
}

app-info-graph {
  width: 49%;
}

#info-page-transactions-label {
  color: var(--violet-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  gap: 13px;
}

.dark-mode #info-page-transactions-label {
  color: white;
}

#info-page-transactions-label input {
  appearance: none;
  height: 24px;
  width: 24px;
  border: 0px;
  border-radius: 50%;
  background-color: rgb(238, 234, 244);
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
}

.dark-mode #info-page-transactions-label input {
  background-color: rgb(55, 47, 71);
}

#info-page-transactions-label input:checked {
  background-color: rgba(49, 208, 170, 255);
  box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

#info-page-transactions a {
  color: inherit;
}

#info-page-transactions a:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--button-color);
}

.info-page-transactions-link {
  color: var(--button-color) !important;
  font-weight: bold;
}
