<section>
    <div class="box-container">
    <div class="box-content">
        <div class="header">
            <div class="text-header">
                <h3>your liquidity</h3>
                <p>remove liquidity to recive tokens back</p>
            </div>
            <div class="icon-header">
                <img src="assets/svg/setting.svg" alt="">
                <img src="assets/svg/history.svg" alt="">
            </div>
        </div>
        <div class="middle-content">
            <div class="text-middle">
                <p>connect to a wallet to view your liquidity</p>
            </div>
        </div>
        <div class="footer-content">
            <div class="button-contatiner">
                <app-standard-button [content]="'+ Add Liquidity'"></app-standard-button>
            </div>
        </div>
    </div>
</div>
</section>
