#ranks-table {
  width: 100%;
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;

  #ranks-table-header {
    padding: 24px;
    border-radius: 24px 24px 0px 0px;
    background: var(--background-7);
    overflow: hidden;
    border: var(--border-8);

    h3 {
      color: var(--color-1);
      font-size: 24px;
      font-weight: 600;
      line-height: 1.1;
    }

    p {
      color: var(--color-3);
      font-weight: 400;
      line-height: 1.5;
      font-size: 14px;
    }

    #pink-round {
      border-radius: 100%;
      overflow: hidden;
      width: 12px;
      height: 12px;
      background: rgb(237, 75, 158);
    }

    span {
      color: var(--color-2);
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;
    }

    img {
      width: 20px;
      height: 20px;
      filter: var(--filter-7);
    }
  }

  .row {
    padding: 25px 15px;
    background-color: var(--background-25);
    border-bottom: var(--border-8);
    border-left: var(--border-8);
    border-right: var(--border-8);
  }

  .row-type-1 {
    span {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: var(--color-1);
    }

    h4 {
      color: var(--color-2);
      font-weight: 600;
      line-height: 1.5;
      font-size: 16px;
    }

    .round-picture {
      border-radius: 100%;
      overflow: hidden;
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }

    h5 {
      color: rgb(31, 199, 212);
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  #table-footer {
    background-color: var(--background-25);
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    overflow: hidden;
    border-bottom: var(--border-8);
    border-left: var(--border-8);
    border-right: var(--border-8);

    p {
      font-weight: 400;
      line-height: 1.5;
      font-size: 14px;
      color: var(--color-3);
    }
  }
}
