<div class="balls-right">
    <div class="max-height">
        <div class="balls-right-imgs animate1">
            <img class="mh-100 h-auto" src="https://pancakeswap.finance/images/home/lottery-balls/2.webp"
                alt="Pie chart">
        </div>
        <div class="balls-right-imgs animate2">
            <img class="mh-100 h-auto" src="https://pancakeswap.finance/images/home/lottery-balls/4.webp"
                alt="Pie chart">
        </div>
        <div class="balls-right-imgs animate3">
            <img class="mh-100 h-auto" src="https://pancakeswap.finance/images/home/lottery-balls/6.webp"
                alt="Pie chart">
        </div>
        <div class="balls-right-imgs animate4">
            <img class="mh-100 h-auto" src="https://pancakeswap.finance/images/home/lottery-balls/7.webp"
                alt="Pie chart">
        </div>
        <div class="balls-right-imgs animate4">
            <img class="mh-100 h-auto" src="https://pancakeswap.finance/images/home/lottery-balls/9.webp"
                alt="Pie chart">
        </div>
    </div>
</div>